---
- hosts: local
  gather_facts: false
  become: yes
  vars_files:
    - config/config.yml
  roles:
    - prerequisites
    - docker
    - nginx
    - activemq
    - cassandra
    - postgres
    - assistance